:root {
  --body-ligth: #f5f5f7;
  --body-dark: #20232a;
  --text-ligth: #20232a;
  --text-dark: #f5f5f7;
  --transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-bottom: 10px;
}

.app {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 75px 1fr;
  padding: 10px;
  background-size: contain;
}

.upp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}

.app.ligth {
  background-image: url(../public/fon.jpg);
  background-color: var(--body-ligth);
  color: var(--text-ligth);
}

.app.dark {
  background-image: url(../public/back-fon.jpg);
  background-color: var(--body-dark);
  color: var(--text-dark);
}

.app.ligth .upp {
  border-color: var(--text-ligth);
}

.app.dark .upp {
  border-color: var(--text-dark);
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  padding: 8px 16px;
}

.app.ligth a {
  color: var(--text-ligth);
}

.app.dark a {
  color: var(--text-dark);
}

.down {
  padding: 20px;
}

.theme-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--body-dark);
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--body-ligth);
  transition: 0.4s;
  border-radius: 34px;
  z-index: 2;
}

.app.ligth .toggle-switch input:checked + .toggle-slider {
  background-color: var(--body-dark);
}
.app.dark .toggle-switch input:checked + .toggle-slider {
  background-color: var(--body-ligth);
}

.toggle-switch input:checked + .toggle-slider:before {
  transform: translateX(36px);
  background-color: var(--body-dark);
}

.home {
  font-size: 50px;
  text-align: center;
  display: flex;
}

.home-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 19px 30px rgba(0, 0, 0, 0.2);
  display: block;
}

.page {
  display: block;
  text-align: start;
  font-size: 24px;
}

.page p {
  margin-bottom: 10px;
}

.page img {
  width: 100%;
  margin-bottom: 15px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app.ligth .navigation a {
  border: 1px solid var(--text-ligth);
  padding: 10px;
}

.app.ligth button {
  border: 1px solid var(--text-ligth);
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
}

.app.dark .navigation a {
  border: 1px solid var(--text-dark);
  padding: 10px;
}

.app.dark button {
  color: var(--text-dark);
  border: 1px solid var(--text-dark);
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
}

.app.ligth .refs-link {
  display: inline-block;
  border: 1px solid var(--text-ligth);
  padding: 10px;
}

.app.dark .refs-link {
  display: inline-block;
  border: 1px solid var(--text-dark);
  padding: 10px;
}

.app.ligth .card {
  text-align: center;
  border: 1px solid var(--text-ligth);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
}

.app.dark .card {
  text-align: center;
  border: 1px solid var(--text-dark);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
}

.props {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.page-step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
